registry:
  domain: ""
image:
  name: "giantswarm/dns-operator-azure"
  tag: ""
pod:
  user:
    id: 1000
  group:
    id: 1000

baseDomain: "azuretest.gigantic.io"

azure:
  workloadIdentity:
    clientID: ""
  baseDNSZone:
    resourceGroup: ""
    clientID: ""
    clientSecret: ""
    tenantID: ""
    subscriptionID: ""

managementCluster:
  name: ""
  namespace: ""

verticalPodAutoscaler:
  enabled: false

# Enable Kyverno PolicyException
kyvernoPolicyExceptions:
  enabled: true
  namespace: giantswarm

# necessary for RBACs
secondaryProviders:
# e.g.
# - kind: openstack
# - kind: cloud-director
- kind: vsphere

monitoring:
  enabled: true
